*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Baloo Tammudu 2', cursive;
    color: rgb(255, 255, 255);

}
body{
    background-color: black;
}
/*cabecera*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    box-shadow: 0 4px 25px -22px rgb(51, 161, 204);
    z-index: 2;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1 b{
    color: rgb(51, 161, 204);
}
.menu{
    height: 80px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu nav ul li:before{
    content: '';
    width: 100%;
    height: 5px;
    background: rgb(51, 161, 204);
    position: absolute;
    top: 0;
    left: 0;
}
.menu nav ul li a{
    color: rgb(128, 161, 204);
    font-size: 18px;
}
.menu nav ul li a:hover{
    color: white;
    transition: color 300ms;
}

/*portada*/

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    top: 80px;
    background-image: url(../img/BuenosAires.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(51, 161, 204, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}
.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.container-info-cover h1{
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 300;
}
.container-info-cover p{
    font-size: 30px;
    
}
/*login register*/

.container-login-register{
    width: 100%;
    max-width: 800px;
    padding: 100px 100px;
    margin: auto;
    margin-top: 100px;
    background-color: rgba(51, 161, 204, 0.8);
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;

}
.container-login-register form{
    font-size: 20px;
}
.container-login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.container-login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: black;
    font-size: 16px;
}
.container-login-register form button{
    color: black;
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}